@Model Information
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

@{
    <p>Name: @Model.Name</p>
    <p> Designation : @Model.Designation </p>
    <p> Company_name : @Model.Company_name </p>
    <p>  Domain: @Model.Domain </p>


}
